/*TODO: Make size of quesiton more dynamic so that it doesn't spill below header on mobile */

.App {
  text-align: center;
}

.Answer {
  background-color: #F52;
  height: 55px;
  line-height: 55px;
  width: 150px;
  color: white;
  margin: 10px 5px 5px 10px;
  display: inline-block;
}

.AnswerText {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.Answer:hover {
  background-color: #00F;
}

.Quiz-header {
  height: 100px;
  color: white;
  padding: 10px;
}

.Neutral {
  background-color: #F52;
}

.Correct {
  background-color: #052;
}

.Incorrect {
  background-color: #F00;
}

.Question {
  font-size: 72pt;
}
