.App {
  text-align: center;
}

.Answer {
  background-color: #F52;
  height: 15px;
  width: 150px;
  color: white;
  padding: 20px;
  margin: 10px 5px 5px 10px;
  display: inline-block;
}

.Answer:hover {
  background-color: #00F;
}

.Quiz-header {
  height: 100px;
  color: white;
  padding: 10px;
}

.Neutral {
  background-color: #F52;
}

.Correct {
  background-color: #052;
}

.Incorrect {
  background-color: #F00;
}

.Question {
  font-size: 72pt;
}
