.App {
  text-align: center;
}

.Quiz-header {
  color: white;
}

.Question {
  font-size: 12vw;
  height: 15vw;
}

.Answer {
  background-color: #F52;
  height: 10vh;
  line-height: 10vh;
  width: 90vw;
  color: white;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}

.Answer:hover {
  background-color: #00F;
}

.AnswerText {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-size: 3vh;
}

.Neutral {
  background-color: #F52;
}

.Correct {
  background-color: #052;
}

.Incorrect {
  background-color: #F00;
}
